<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{author}}</p>
    </div>
</body>
<script src="/js/navactive.js"></script>
</html>