<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    {{>header}}
    <div class="container">
    <h1>{{title}}</h1>
    <p>{{author}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quo aliquid, 
        commodi, doloribus accusantium dolorem minima voluptates veniam ad ipsam architecto 
        ipsum quasi. Animi alias explicabo consequatur repellendus non voluptas?</p>
    </div>
    <form>
        <input type="text" placeholder="Enter Address"/>
        <button type="submit">Search</button>
    </form>
    <div id="result">

    </div>
</body>
<script src="/js/script.js"></script>
<script src="/js/navactive.js"></script>
</html>