
<div class="header">
    <div style="width: 70%;">
        <h1 class="logo">WEATHERLY</h1>
    </div>
    <div class="nav-list">
        <a href="/" class="navItem active">WEATHER</a>
        <a href="/about" class="navItem">ABOUT</a>
        <a href="/help" class="navItem">HELP</a>
    </div>
</div>